<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloBean" class="com.javaTrainingBeanSpring.core.HelloWorld">
        <property name="name" value="Denys"/>
    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.com.javaTrainingBeanSpring.jdbc.Driver"/>
        <property name="url" value="com.javaTrainingBeanSpring.jdbc:mysql://localhost:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>

    <bean id="StudentJDBCTemplate"
          class="com.javaTrainingBeanSpring.jdbc.template.StudentJdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="StudentDao" class="com.javaTrainingBeanSpring.jdbc.template.StudentJdbcTemplate"></bean>

    <bean id="StudentMapperInject" class="com.javaTrainingBeanSpring.jdbc.StudentMapperInject">
        <constructor-arg ref="StudentJDBCTemplate"/>
    </bean>

</beans>